@import url('https://fonts.googleapis.com/css2?family=Open%20Sans:wght@400;500;700&display=swap');


#holder:not(.escolha) #escolherJogo {
    display: none !important;
}

#holder:not(.valores) #infoSection {
    display: none !important;
}

#holder:not(.dados) #dadosSection {
    display: none !important;
}

#holder:not(.manual) #manualSaveSection {
    display: none !important;
}

#holder:not(.google) #googleSaveSection {
    display: none !important;
}

#holder:not(.link) #linkSection {
    display: none !important;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7e4f86;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 16px 0;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}

#holder {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    padding: 16px;
    background-color: white;
}

#holder header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
    
}

#holder header h1:only-child {
    margin: 0;
}

#holder header h1 {
    margin: 0 0 0 16px;
}

.voltar:hover, .ir-inicio:hover {
    cursor: pointer;
}

#holder > section > footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    margin-top: 1.5em;
    gap: 16px;
}

#holder > section > header > h1 {
    flex-grow: 1;
}

main > section > form {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 16px;
}

#infoSection form {
    flex-grow: 1;

}

#holder > section {
    display: flex;
    flex-grow: 1;
    height: 100%;
    /*
    border: 1px solid #79747e;
    border-radius: 4px;
    padding: 16px;
    box-sizing: border-box;*/
}

#holder.escolha  {
    background-color: #ffffff00 !important;
}

#holder.escolha header {
    justify-content: center;
    text-align: center;
}

#holder.escolha header h1 {
    color: white;
    font-size: 32px;
}

#escolherJogo {
    flex-direction: column;
}

#escolherJogo > section {
    display: flex;
    flex-grow: 1;

    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    
    border: 1px solid #79747e;
    border-radius: 16px;
    box-sizing: border-box;
    cursor: pointer;

    overflow: hidden;

    width: 20em;
    height: 20em;

    box-shadow: 0px 0px 16px #535353ad;
}

.card > img {
    width: 100%;
    height: 20em;
    border-radius: 16px;

    object-fit: cover;
}

.card > div {
    position: absolute;
    bottom: 0;

    background-color: white;
    box-sizing: border-box;
    width: 100%;

    padding: 16px;

    border-radius: 0 0 16px 16px;
}

.card h2 {
    margin: 0;
}

#dadosSection {
    flex-direction: column;
}

#dadosHolder {
    flex-grow: 1;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    border: 1px solid #79747e;
    border-radius: 4px;

    padding: 8px;
    box-sizing: border-box;
}

.dadosPerguntasInfo {
    margin-bottom: 1em;

    display: flex;
    justify-content: space-between;
}

.dadosPerguntasInfo h2 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

    font-size: 20px;
}

.dadosFooter {
    display: flex;
    flex-direction: row-reverse;

    position: absolute;
    bottom: 4px;
    right: 0;
}

.dadosForm {
    position: relative;

    padding: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    gap: 16px;

    border: 1px solid #79747e;
    border-radius: 4px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;

    box-sizing: border-box;
}

.dadosForm .pergunta {
    flex-grow: 1;
}

.dadosForm > section {
    display: flex;
    gap: 16px;
    width: 100%;
    flex-wrap: wrap;
}

:not(.opcaoBooleano) > .dadoBooleano, :not(.opcaoPorcentagem) > .dadoPorcentagem, :not(.opcaoGrafico) > .dadoGrafico {
    display: none !important;
}

.dadoBooleano {
    padding: 8px;
    justify-content: space-evenly;
}

md-radio {
    margin-right: .5em;
}

:not(.porcentagemValor) > section > .minmax {
    display: none !important;
}

.sliderPorcentagem {
    flex-grow: 1;
    align-items: center;
}

.porcentagemSliderHolder {
    display: flex;
    flex-direction: row;
    gap: 8px;

    width: 100%;
}

.porcentagemSliderHolder > .input-d3 {
    flex-grow: 0;
}

.graficoHolder {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.grafico {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.grafico > md-slider {
    width: 80%;
}

.dadosForm > section.dadoGrafico {
    justify-content: space-between;
}

#infoSection {
    flex-direction: column;
}

#manualSaveSection {
    align-content: flex-start;
    flex-direction: column;
}

#manualSaveSection > section {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
}

#manualSaveSection > section > section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    box-sizing: border-box;
}

#manualSaveSection > section > section:first-child::after {
    content: '';
    display: block;
    background-color: #cac4d0;
    position: absolute;
}

#googleSaveSection, #linkSection {
    flex-direction: column;
}

#googleSaveSection > section, #linkSection > section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#googleSaveSection #googleProgress {
    width: 60%;
}

#googleSaveSection .indeterminateProgress {
    margin-bottom: 5em;
}

#googleProgressText {
    text-align: center;
}

.erro .indeterminateProgress, .erro #googleProgress {
    display: none !important;
}

#linkSection p {
    margin-top: 0;
}

#linkSection a {
    text-align: center;
}


#modal {
    width: 100%;
    height: 100%;
    position: fixed;

    display: none;
    justify-content: center;
    align-items: center;

    background-color: #00000080;
    z-index: 1000;

    text-align: justify;
}

#modal.aberto {
    display: flex !important;
}

#modal > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: white;
    border-radius: 8px;

    width: 100%;
    height: 100%;
    max-width: 40em;
    max-height: 40em;
}

#modal > div > header {
    display: flex;
    align-items: center;
    gap: 1em;
}

#modal h1 {
    margin: 0;
}

#modal section {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal img {
    max-height: 20em;
}

#modal p {
    width: 100%;
    text-align: justify;
}


@media (min-width: 550px) {
    #holder {
        width: 100%;
        max-width: 60em;
        height: 100%;
        max-height: 50em;
    }

    .text-input {
        width: calc(50% - 8px);
    }

    .input-d3, .input-d4 {
        flex-grow: 1;
    }

    .textarea {
        resize: none;
        height: calc(100% - 5em);
        width: 100%;
    } 

    #manualSaveSection > section > section {
        width: 50%;
        flex-grow: 1;
    }

    #manualSaveSection > section > section:first-child::after {
        width: 1px;
        height: calc(100% - 2em);

        top: 1em;
        right: 0px;
    }
}

@media (max-width: 549px) {

    #holder {
        width: 100%;
        height: 100%;
    }

    .text-input {
        width: 100%;
    }

    .input-d3 {
        width: calc(100%);
    }

    .input-d4 {
        width: calc(100%);
    }

    .textarea {
        resize: none;
        height: calc(100% - 9em);
        width: 100%;
    }

    .irGoogle, .irManual {
        flex-grow: 1;
    }

    #manualSaveSection > section > section {
        width: 100%;
    }

    #manualSaveSection > section > section:first-child::after {
        width: calc(100% - 2em);
        height: 1px;

        bottom: 0;
        right: 1em;
    }
}


